html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, #18a558, #21b6a8);
  font-family: "Source Serif Pro", serif;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 40px 40px 30px 40px;
  border-bottom: 1px solid black;
  position: relative;
}

.top-label {
  font-size: 18px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

.top-name {
  font-size: 36px;
  line-height: 45px;
}

.top-emoji-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 36px;
}

.top-emoji {
  position: absolute;
  animation: moveUpFadeOut 3s ease-in infinite;
}

@keyframes moveUpFadeOut {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20% {
    opacity: 0.8;
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -400px);
    transform: translate(0, -400px);
  }
}

.content {
  height: 100%;
  padding: 40px;
}

.content-label {
  font-size: 18px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

.content-text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  line-height: 23px;
}
